@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Abc, Pqr, India
</address>

<address>
    <strong>Support:</strong>   <a href="#">abc@example.com</a><br />
    <strong>Marketing:</strong> <a href="#">xyz@example.com</a>
</address>